/*
 TOUTES LES PAGES
*/

.scroll {
	height: 100%;
}

#map {
	margin-top:1%;
	margin-left:1%;
	width: 98%;
	height: 98%;
}

.loader_icon
{
	position:absolute;
	left:45%;
	top:50%;
	max-width:10%;
	max-height:10%;
	z-index:10;
}

.loader_text
{
	position:absolute;
	text-align:center;
	top:60%;
	left:40%;
	vertical-align:middle;
	color:#387ef5;
}

/*
 DEFINIR UNE ADRESSE + DEFINIR UN TRAJET
*/

.validerButton
{
	border-radius:10px;
	position:relative;
}

.geolocaliserButton
{
	border-radius:10px;
	position:relative;
}

.CityName
{
	position:relative;	
}

.liste-temperature
{

}

.tabs-footer
{
	position:relative;
}


.weather_icon
{
	width:30%;
	height:90%;
	position:absolute;
	left:0px;
	bottom:10px;
	top:10px;
}

/*
 DEFINIR UN TRAJET
*/

.search_start
{
	position:relative;
}

.search_end
{
	position:relative;
	margin-top:20px;
}

