.validerButton
{
	border-radius:10px;
	position:relative;
}

.geolocaliserButton
{
	border-radius:10px;
	position:relative;
}

.CityName
{
	position:relative;	
}

.liste-temperature
{

}

.weather_icon
{
	width:20%;
	height:20%;
}

