<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.myappter480578" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Métro ou Vélib ? VERSION DE TEST</name>
  <description>
        Application permettant de prévoir quel moyen de locomotion est idéal pour un trajet à un instant donné.
    </description> 
  <author email="hi@ionicframework" href="http://ionicframework.com/">
      Ionic Framework Team
    </author>
    
  <content src="index.html"/>
  
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  
  <gap:plugin name="org.apache.cordova.device" />
  <gap:plugin name="org.apache.cordova.splashscreen" />
  
  <icon src="icon.png" />
  <icon gap:platform="android" gap:qualifier="ldpi" src="res/icon/android/icon-36-ldpi.png" />
  <icon gap:platform="android" gap:qualifier="mdpi" src="res/icon/android/icon-48-mdpi.png" />
  <icon gap:platform="android" gap:qualifier="hdpi" src="res/icon/android/icon-72-hdpi.png" />
  <icon gap:platform="android" gap:qualifier="xhdpi" src="res/icon/android/icon-96-xhdpi.png" />
  
  <gap:splash src="splash.png" />
  
  <access origin="*"/>



  

  
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
